
/* Slide in animation for banner */

@keyframes slideInFromLeft {
    0% {
        opacity: 0%;
        transform: translateX(-20%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0%;
        /* transform: translateX(50%); */
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        /* transform: translateX(0); */
    }
}

.banner-h2 {
    animation: 0.8s ease-in-out 0s 1 slideInFromLeft;
}

.banner-h1 {
    animation: 1.2s ease-in-out 0s 1 slideInFromLeft;
}

.banner-p {
    animation: 1.5s ease-in-out 0s 1 slideInFromLeft;
}

.banner-btn {
    animation: 1.5s ease-in-out 0s 1 slideInFromLeft;
}

.jumbo-img {
    animation: 2s ease-in 0s 1 slideInFromRight;
}

/* mobile banner drop shadow */

.banner-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

/* Tint overlay for cards */

.tint-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0;
    transition: .3s ease;
    z-index: 2;
    border-radius: 25px;
    cursor: pointer;
}

.tint-overlay:hover {
    opacity: 0.5;
}

/* body backdrop */

.transluscent-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: coral;
    opacity: 0.5;
    z-index: 2;
}