body {
    overflow-x: hidden;
}

/* COLORS */

.bg-zetred {
    background-color: #740d17;
}

.bg-lightgray {
    background-color: #ebebeb;
}

.text-headred {
    color: #ff0000;
}

/* FONTS */
.font-heebo {
    /* font-family: 'Heebo', sans-serif; */
    font-family: 'Jost', sans-serif;
}

.font-sans {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Lato', sans-serif;
}

.font-actual-sans {
    font-family: 'Open Sans', sans-serif;
}

/* STYLES */

.brand-logo {
    max-width: 100px;
    height: auto;
}

.jumbo-container {
    width: 100%;
    height: 90vh;
}

/* .nav-item a {
    font-family: 'Heebo', sans-serif;
} */

.desktop-navbar {
    width: 100vw;
}

.form-container {
    width: 70%;
}

.info-container {
    width: 30%;
}

.sponsor-logo {
    max-height: 70px;
    width: auto;
}

.logo-divider {
    background-color: white;
    max-height: 50px;
    width: 1px;
}

.end-info-divider {
    background-color: white;
    max-height: 2rem;
    width: 1px;
}

/* STYLES FOR HOME */

.responsive-h1 {
    /* font-size: 7.5vmax; */
    font-size: 8rem;
    letter-spacing: 0.8rem;
}

.responsive-h2 {
    /* font-size: 4vmax; */
    font-size: 5rem;
    letter-spacing: 0.8rem;
    margin-bottom: -2rem;
}

.responsive-h3 {
    font-size: 2.5rem;
}

.responsive-h5 {
    font-size: 1.4rem;
}

.responsive-big-p {
    font-size: 2rem;
}

.responsive-p {
    font-size: 1.5rem;
}

.jumbotron {
    height: 85vh;
    width: 100vw;
}

.jumbotron .landing-head {
    width: 40%;
    padding-left: 5rem !important;
    padding-right: 0rem !important;
    margin-left: 0rem !important;
}

.jumbotron .jumbo-img-container {
    width: 60%;
}

.jumbo-img-container .jumbo-img {
    height: 100%;
    width: auto;
}

.service-list-container {
    width: 100vw;
}

.basic-services-container,
.special-services-container {
    width: 100%;
}

.card {
    width: 18rem;
    margin-top: 2rem;
    border-radius: 25px;
}

.card-body h5 {
    font-family: 'Jost', sans-serif;
}

/* ABOUT PAGE STYLES */

.jumbo-about {
    width: 90vw;
}

.about-img-container {
    width: 30%;
    height: auto;
}

.about-descriptor-container {
    width: 70%;
    height: auto;
}

.about-descriptor {
    line-height: 2rem;
    font-size: 1.2rem;
}

/* CARS PAGE STYLES */

.banner-container {
    width: 100vw;
    /* box-shadow: 5px 5px 15px rgba(139, 139, 139, 0.61) */
}

.drop-shadow {
    box-shadow: 5px 5px 15px rgba(139, 139, 139, 0.61);
}

.page-spiel-container p {
    width: 60vw;
}

/* INDIV CAR PAGE STYLES */

.car-container {
    width: 100vw;
}

.car-img-container {
    width: 50vw;
}

.car-info-indiv span {
    margin-bottom: 0.5rem;
}

/* INFO PAGE STYLES */

.email-success-message-container,
.terms-and-conditions-container,
.image-credit-container {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
}
