/* MOBILE SCREENS */
@media only screen and (max-width: 991px) {
    /* base.html */

    .mobile-navbar {
        height: 8vh;
    }

    .mobile-brand-logo {
        height: 6vh;
        width: auto;
    }

    .mobile-pre-footer {
        font-size: 0.8rem;
    }

    .s-font {
        font-size: 0.8rem;
    }

    .xs-font {
        font-size: 0.6rem;
    }

    .mobile-sponsor-logo {
        max-height: 30px;
        width: auto;
    }

    .mobile-logo-divider {
        background-color: white;
        max-height: 20px;
        width: 1px;
    }

    /* fixed bottom nav */

    .bottom-padder {
        height: 5vh;
        width: 100%;
    }

    .mobile-bottom-nav {
        height: 5vh;
        width: 100%;
    }

    .bottom-nav-item {
        width: 25%;
        text-decoration: none;
    }

    .bottom-nav-decorator {
        height: 3px;
        width: 90%;
        background-color: red;
    }

    /* banner */

    .banner-container {
        margin-bottom: 0px !important;
    }

    /* home.html */

    .mobile-jumbotron {
        width: 100vw;
        height: 60vh;
    }

    .mobile-jumbotron h2 {
        font-size: 2rem;
    }

    .mobile-jumbotron h1 {
        font-size: 4rem;
    }

    .mobile-jumbotron a {
        width: 60%;
        background-color: red;
        text-decoration: none;
        border-radius: 10px;
        padding: 0.5rem;
        cursor: pointer;
    }

    .mobile-service-container {
        width: 100vw;
    }

    .mobile-service-card-container a {
        text-decoration: none;
        padding: 1rem;
        margin: 1rem;
        width: 30%;
        background-color: white;
        border-radius: 10px;
    }

    .mobile-service-container p {
        font-size: 0.8rem;
    }

    /* about.html */

    .jumbo-about {
        flex-direction: column-reverse !important;
        justify-content: center !important;
        padding: 1rem !important;
        align-items: center;
    }

    .jumbo-about img {
        max-height: 100%;
        width: auto;
        padding-top: 1rem;
    }

    .about-img-container {
        width: 90%;
    }

    .about-descriptor-container {
        width: 100%;
    }

    .about-descriptor {
        font-size: 0.8rem;
        line-height: normal;
    }

    /* Our Cars */

    .page-spiel-container {
        padding-top: 0rem !important;
        text-align: center !important;
        width: 100vw;
    }

    .page-spiel-container p {
        width: 80vw;
        font-size: 0.8rem !important;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }

    .service-list-container {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    .basic-services-container,
    .special-services-container {
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    .basic-services-container h3,
    .special-services-container h3 {
        /* font-size: 1.5rem; */
        text-align: center;
    }

    .basic-services-container .responsive-h5 {
        margin-left: 0rem !important;
    }

    .car-header-container {
        flex-direction: column;
    }

    .card-container {
        width: 100vw;
    }

    .card {
        margin-top: 1rem;
        width: 25vw;
    }

    /* Individual Car Pages */

    .car-container {
        flex-direction: column;
        padding-bottom: 0rem !important;
    }

    .car-img-container {
        width: 100%;
    }

    .car-info-indiv {
        margin: 0px !important;
        padding: 0px !important;
        margin-top: 1rem !important;
    }

    .car-info-indiv h3 {
        font-size: 1.5rem;
    }

    .car-info-indiv .responsive-p {
        font-size: 0.8rem;
    }

    /* info pages */

    .email-success-message-container,
    .terms-and-conditions-container,
    .image-credit-container {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}

@media only screen and (max-width: 576px) {
    /* Our Cars */

    .car-header-container {
        flex-direction: column;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }

    .car-header-container h3,
    h5 {
        text-align: center;
        margin: 0rem !important;
    }

    .basic-services-container,
    .special-services-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0rem !important;
    }

    .basic-services-container h3 {
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }

    .basic-services-container h3,
    .special-services-container h3 {
        font-size: 1.5rem;
    }

    .basic-services-container .responsive-h5 {
        font-size: 1rem;
    }

    .card-body {
        padding: 0rem;
    }

    .card img {
        padding: 1rem;
        padding-bottom: 0rem;
    }

    .card h5 {
        font-size: 0.8rem;
        word-wrap: normal;
        text-align: center;
    }

    /* Mobile Contact Page */

    .mobile-form-container h3 {
        margin-bottom: 2rem;
    }

    .mobile-form-container .form-group {
        margin-bottom: 0.5rem;
    }

    /* Fixed bottom nav */

    .bottom-padder {
        height: 7vh;
        width: 100%;
    }

    .mobile-bottom-nav {
        height: 7vh;
        width: 100%;
    }
}
