{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="banner-container mb-4">
        <img src="{% static 'images/banner_about.png' %}" alt="About Us" class="img-fluid">
    </div>

    <div class="jumbo-about-container d-flex flex-column">
        <div class="jumbo-about d-flex align-self-center p-5 bg-white">
            <div class="about-img-container mx-5">
                <img src="{% static 'images/about_us.png' %}" alt="About Us" class="img-fluid">
            </div>
            <div class="about-descriptor-container mx-5 font-sans">
                <p class="about-descriptor responsive-p text-justify mb-0">
                    Zetrans started as a supplier of vans to various 
                    rent-a-car firms in 2004. It began operating as its 
                    own rental service in November 2007 and has been 
                    devoted to serving its clients for more than a decade. 
                    Zetrans prides itself in its personalized treatment, 
                    assessing every customer's needs, whether with 
                    chauffeur or self-driven, near or far. Our clientele 
                    includes pharmaceutical companies, call centers, 
                    travel agencies, educational institutions, as well as 
                    groups or individuals for personal trips.  Zetrans is 
                    committed to fulfilling the client's every need with 
                    affordable rates, well-maintained units, and 
                    accommodating staff.
                </p>
            </div>
        </div>
    </div>

    <!-- MOBILE FIXED BOTTOM -->
    <div class="mobile-bottom-nav d-flex d-lg-none bg-white s-font font-heebo fixed-bottom">
        <a href="{% url 'home' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
        <a href="{% url 'about' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-question"></i>
            <span>About Us</span>
            <div class="bottom-nav-decorator"></div>
        </a>
        <a href="{% url 'cars' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-car"></i>
            <span>Our Cars</span>
        </a>
        <a href="{% url 'contact_mobile' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-search"></i>
            <span>Contact Us</span>
        </a>
    </div>
{% endblock content %}