{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zetrans Van Rentals</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

    <!-- Own Styling-->
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
  </head>

  <body>

    <!-- MOBILE NAVBAR -->
    <nav class="mobile-navbar navbar d-flex d-lg-none sticky-top justify-content-center bg-white">
      <a href="{% url 'home' %}" class="navbar-brand p-0">
        <img src="{% static 'images/zetrans logo.png' %}" alt="Zetrans" class="mobile-brand-logo p-0 m-0">
      </a>
    </nav>

    <!-- NAVBAR -->
    <nav class="desktop-navbar d-none d-lg-flex navbar navbar-expand-lg navbar-light sticky-top bg-white py-0 mx-0">
      <a class="navbar-brand ml-5" href="{% url 'home' %}"><img class="brand-logo" src="{% static 'images/zetrans logo.png' %}" alt="Zetrans"></a>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link mx-5 font-heebo" href="{% url 'home' %}"><h6>Home</h6></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-5 font-heebo" href="{% url 'about' %}"><h6>About</h6></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-5 font-heebo" href="{% url 'cars' %}"><h6>Our Cars</h6></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-5 text-danger font-heebo" href="#footer"><h6>Contact Us</h6></a>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <!-- FOOTER -->
    <footer class="d-none d-lg-flex container-fluid bg-zetred foot-container text-white font-sans px-5 flex-column" id="footer">
      <div class="footer-info-container d-flex">
        <div class="form-container p-5 ml-5">
          <h2 class="my-4 font-sans">Get a Quote</h2>
          <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success btn-lg right" value="Submit">
          </form>
        </div>
        <div class="info-container p-5 pt-5 mt-5 mr-5">
          <div class="contact-info-container mt-5">
            <p class="m-0 mb-2 font-sans"><strong>Zetrans Van Rentals</strong></p>
            <p class="m-0 font-sans">
              <i class="fas fa-mobile-alt"></i>
              <i class="fab fa-viber"></i>
              <i class="fab fa-whatsapp"></i>
              (+63)920-902-1306
            </p>
            <p class="m-0 font-sans">
              <i class="fas fa-mobile-alt"></i>
              (+63)977-245-0036
            </p>
            <p class="m-0 font-sans">
              <i class="fas fa-phone"></i>
              (02)8573-9233
            </p>
          </div>
          <p class="mt-2"><strong>Powered by:</strong></p>
          <div class="sponsor-container d-flex pt-2">
            <img src="{% static 'images/asia pay.png' %}" class="sponsor-logo" alt="asiapay logo">
            <div class="logo-divider mx-2"></div>
            <img src="{% static 'images/visa.png' %}" class="sponsor-logo" alt="visa logo">
            <img src="{% static 'images/mastercard.png' %}" class="sponsor-logo" alt="visa logo">
          </div>
          <div class="desc-container font-sans text-justify mt-4">
            <p>
              Zetrans is committed to fulfilling the client's
              every need with affordable rates, well-
              maintained units, and accommodating staff.
            </p>
            <p>
              We offer transportation services to and from
              any point in Luzon. All rates are inclusive of
              comprehensive insurance. See Our Cars page
              for full catalog.
            </p>
            <p>
              Note that self-driving is available for sedan
              and SUV rental only. Self-driving for vans,
              luxury cars, and delivery are not available.
            </p>
            <p>
              By submitting this form you agree to the
              <a href="{% url 'terms_and_conditions' %}" class="text-white">Terms of Service.</a>
            </p>
          </div>
        </div>
      </div>
      <div class="end-info-container d-flex justify-content-end pr-5 mr-5 mb-5">
        <i class="fab fa-facebook-square fb-logo mx-2"></i>
        <div class="end-info-divider mx-2"></div>
        <span class="text-white mx-2">© Zetrans Van Rentals, 2020</span>
        <div class="end-info-divider mx-2"></div>
        <span class="text-white mx-2"><a href="{% url 'image_credit' %}'"" class="text-white">Image Credit</a></span>
      </div>
    </footer>

    <!-- MOBILE PRE-FOOTER -->
    <footer class="mobile-pre-footer d-flex d-lg-none container-fluid bg-zetred mobile-foot-container text-white font-sans flex-column p-4 mt-4">
      <div class="mobile-desc-container font-sans text-justify p-3">
        <p>
          Zetrans is committed to fulfilling the client's
          every need with affordable rates, well-
          maintained units, and accommodating staff.
        </p>
        <p>
          We offer transportation services to and from
          any point in Luzon. All rates are inclusive of
          comprehensive insurance. See Our Cars page
          for full catalog.
        </p>
        <p>
          Note that self-driving is available for sedan
          and SUV rental only. Self-driving for vans,
          luxury cars, and delivery are not available.
        </p>
      </div>
      <div class="mobile-info-container d-flex justify-content-start">
        <div class="mobile-contact-container pl-3 mr-4 xs-font">
          <p class="m-0">
            <strong>Zetrans Van Rentals</strong>
          </p>
          <p class="m-0 font-sans">
            <i class="fas fa-mobile-alt"></i>
            <i class="fab fa-viber"></i>
            <i class="fab fa-whatsapp"></i>
            (+63)920-902-1306
          </p>
          <p class="m-0 font-sans">
            <i class="fas fa-mobile-alt"></i>
            (+63)977-245-0036
          </p>
          <p class="m-0 font-sans">
            <i class="fas fa-phone"></i>
            (02)8573-9233
          </p>
        </div>
        <div class="mobile-sponsor-supercontainer">
          <p class="m-0">
            <strong>Powered by:</strong>
          </p>
            <div class="mobile-sponsor-container d-flex mt-2">
              <img src="{% static 'images/asia pay.png' %}" class="mobile-sponsor-logo" alt="asiapay logo">
              <div class="mobile-logo-divider mx-2"></div>
              <img src="{% static 'images/visa.png' %}" class="mobile-sponsor-logo" alt="visa logo">
              <img src="{% static 'images/mastercard.png' %}" class="mobile-sponsor-logo" alt="visa logo">
            </div>
        </div>
      </div>
      <div class="mobile-end-info-container d-flex justify-content-end mt-4 pr-3 xs-font">
        <i class="fab fa-facebook-square fb-logo mx-1"></i>
        <div class="end-info-divider mx-1"></div>
        <span class="text-white mx-1">© Zetrans Van Rentals, 2020</span>
        <div class="end-info-divider mx-1"></div>
        <span class="text-white mx-1"><a href="{% url 'image_credit' %}'"" class="text-white">Image Credit</a></span>
      </div>
    </footer>
    <div class="bottom-padder d-flex d-lg-none bg-zetred"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Own Functionality -->
    <script src={% static 'js/app.js' %}></script>

    <link rel="stylesheet" href="{% static 'css/animations.css' %}">

  </body>
</html>