{% extends 'base.html' %} {% load static %} {% block content %}
<div class="banner-container d-flex justify-content-center">
    <img src="{% static 'images/banner_cars.png' %}" alt="Our Cars" class="img-fluid" />
</div>

<div class="page-spiel-container d-flex justify-content-center text-left mt-4 pt-4">
    <p class="font-actual-sans responsive-p mx-auto px-2">
        Click on a car for more details. All rates are inclusive of comprehensive insurance. By renting our cars, you
        agree to the <a href="{% url 'terms_and_conditions' %}">Terms of Service.</a>
    </p>
</div>

<div class="container-fluid service-list-container d-flex flex-column m-0 bg-white">
    <!-- SEDANS -->
    <div class="basic-services-container text-left p-4 mx-2">
        <div class="car-header-container d-flex mx-auto" style="width: 60vw;" id="sedans">
            <h3 class="font-heebo responsive-h3">Sedans</h3>
            <h5 class="font-sans responsive-h5 text-muted ml-3 align-self-center">(Self-driving available)</h5>
        </div>

        <div class="card-container d-flex justify-content-center flex-wrap">
            <div class="card mx-2 bg-lightgray">
                <div class="card-body pb-0">
                    <img src="{% static 'images/cars/sedans/vios.png' %}" alt="Toyota Vios" class="img-fluid" />
                    <h5 class="card-title m-2 text-center font-weight-bold text-body">Toyota Vios 1.3E</h5>
                </div>
                <a href="{% url 'cars_vios' %}">
                    <div class="tint-overlay"></div>
                </a>
            </div>
            <div class="card mx-2 bg-lightgray">
                <div class="card-body pb-0">
                    <img src="{% static 'images/cars/sedans/altis.png' %}" alt="Toyota Altis" class="img-fluid" />
                    <h5 class="card-title m-2 text-center font-weight-bold text-body">Toyota Altis</h5>
                </div>
                <a href="{% url 'cars_altis' %}">
                    <div class="tint-overlay"></div>
                </a>
            </div>
            <div class="card mx-2 bg-lightgray">
                <div class="card-body pb-0">
                    <img
                        src="{% static 'images/cars/sedans/honda city silver.png' %}"
                        alt="Honda City"
                        class="img-fluid"
                    />
                    <h5 class="card-title m-2 text-center font-weight-bold text-body">Honda City 1.5E CVT</h5>
                </div>
                <a href="{% url 'cars_city' %}">
                    <div class="tint-overlay"></div>
                </a>
            </div>
        </div>
    </div>

    <!-- SUVs -->
    <div class="basic-services-container text-left p-4 mx-2" id="suvs">
        <div class="car-header-container d-flex mx-auto" style="width: 60vw;">
            <h3 class="font-heebo responsive-h3">SUVs</h3>
            <h5 class="font-sans responsive-h5 text-muted ml-3 align-self-center">(Self-driving available)</h5>
        </div>

        <div class="card-container d-flex justify-content-center flex-wrap">
            <div class="card mx-2 bg-lightgray">
                <div class="card-body pb-0">
                    <img src="{% static 'images/cars/suvs/fortuner.png' %}" alt="Toyota Fortuner" class="img-fluid" />
                    <h5 class="card-title m-2 text-center font-weight-bold text-body">Toyota Fortuner</h5>
                </div>
                <a href="{% url 'cars_fortuner' %}">
                    <div class="tint-overlay"></div>
                </a>
            </div>
            <div class="card mx-2 bg-lightgray">
                <div class="card-body pb-0">
                    <img src="{% static 'images/cars/suvs/innova.png' %}" alt="Toyota Innova" class="img-fluid" />
                    <h5 class="card-title m-2 text-center font-weight-bold text-body">Toyota Innova 2.8E</h5>
                </div>
                <a href="{% url 'cars_innova' %}">
                    <div class="tint-overlay"></div>
                </a>
            </div>
            <div class="card mx-2 bg-lightgray">
                <div class="card-body pb-0">
                    <img src="{% static 'images/cars/suvs/rav4.png' %}" alt="Toyota RAV4 2.4" class="img-fluid" />
                    <h5 class="card-title m-2 text-center font-weight-bold text-body">Toyota RAV4 2.4</h5>
                </div>
                <a href="{% url 'cars_rav4' %}">
                    <div class="tint-overlay"></div>
                </a>
            </div>
        </div>
    </div>

    <!-- VANS -->
    <div class="basic-services-container text-left p-4 mx-2">
        <h3 class="font-heebo responsive-h3 mx-auto" style="width: 60vw;" id="vans">Vans</h3>

        <div class="card-container d-flex justify-content-center flex-wrap">
            <div class="card mx-2 bg-lightgray">
                <div class="card-body pb-0">
                    <img src="{% static 'images/cars/vans/grandia.png' %}" alt="Toyota Grandia" class="img-fluid" />
                    <h5 class="card-title m-2 text-center font-weight-bold text-body">Toyota Grandia</h5>
                </div>
                <a href="{% url 'cars_grandia' %}">
                    <div class="tint-overlay"></div>
                </a>
            </div>
            <div class="card mx-2 bg-lightgray">
                <div class="card-body pb-0">
                    <img
                        src="{% static 'images/cars/vans/super grandia.png' %}"
                        alt="Toyota Super Grandia"
                        class="img-fluid"
                    />
                    <h5 class="card-title m-2 text-center font-weight-bold text-body">Toyota Super Grandia</h5>
                </div>
                <a href="{% url 'cars_supergrandia' %}">
                    <div class="tint-overlay"></div>
                </a>
            </div>
            <div class="card mx-2 bg-lightgray">
                <div class="card-body pb-0">
                    <img src="{% static 'images/cars/vans/nv350.png' %}" alt="Nissan NV350" class="img-fluid" />
                    <h5 class="card-title m-2 text-center font-weight-bold text-body">Nissan NV350</h5>
                </div>
                <a href="{% url 'cars_nv350' %}">
                    <div class="tint-overlay"></div>
                </a>
            </div>
        </div>
    </div>

    <!-- LUXURY -->
    <div class="special-services-container text-left p-4 mx-2">
        <h3 class="font-heebo responsive-h3 mx-auto" style="width: 60vw;" id="luxury">Luxury</h3>

        <div class="card-container d-flex justify-content-center flex-wrap">
            <div class="card mx-2 bg-lightgray">
                <div class="card-body pb-0">
                    <img
                        src="{% static 'images/cars/luxury/toyota alphard.png' %}"
                        alt="Toyota Alphard"
                        class="img-fluid"
                    />
                    <h5 class="card-title m-2 text-center font-weight-bold text-body">Toyota Alphard</h5>
                </div>
                <a href="{% url 'cars_alphard' %}">
                    <div class="tint-overlay"></div>
                </a>
            </div>
            <div class="card mx-2 bg-lightgray">
                <div class="card-body pb-0">
                    <img
                        src="{% static 'images/cars/luxury/mercedes luxury.png' %}"
                        alt="Mercedes-Benz Luxury Sedan"
                        class="img-fluid"
                    />
                    <h5 class="card-title m-2 text-center font-weight-bold text-body">Mercedes-Benz Luxury Sedan</h5>
                </div>
                <a href="{% url 'cars_benz' %}">
                    <div class="tint-overlay"></div>
                </a>
            </div>
            <div class="card mx-2 bg-lightgray">
                <div class="card-body pb-0">
                    <img
                        src="{% static 'images/cars/luxury/hyundai h350.png' %}"
                        alt="Hyundai H350"
                        class="img-fluid"
                    />
                    <h5 class="card-title m-2 text-center font-weight-bold text-body">Hyundai H350</h5>
                </div>
                <a href="{% url 'cars_h350' %}">
                    <div class="tint-overlay"></div>
                </a>
            </div>
        </div>
    </div>

    <!-- DELIVERY -->
    <div class="special-services-container text-left p-4 mx-2">
        <h3 class="font-heebo responsive-h3 mx-auto" style="width: 60vw;" id="delivery">Delivery</h3>

        <div class="card-container d-flex justify-content-center flex-wrap">
            <div class="card mx-2 bg-lightgray">
                <div class="card-body pb-0">
                    <img src="{% static 'images/cars/delivery/L300.png' %}" alt="Mitsubishi L300" class="img-fluid" />
                    <h5 class="card-title m-2 text-center font-weight-bold text-body">Mitsubishi L300</h5>
                </div>
                <a href="{% url 'cars_l300' %}">
                    <div class="tint-overlay"></div>
                </a>
            </div>
            <div class="card mx-2 bg-lightgray">
                <div class="card-body pb-0">
                    <img src="{% static 'images/cars/delivery/hilux.png' %}" alt="HILUX" class="img-fluid" />
                    <h5 class="card-title m-2 text-center font-weight-bold text-body">Toyota HILUX 2.8 G 4x4</h5>
                </div>
                <a href="{% url 'cars_hilux' %}">
                    <div class="tint-overlay"></div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- MOBILE FIXED BOTTOM -->
<div class="mobile-bottom-nav d-flex d-lg-none bg-white s-font font-heebo fixed-bottom">
    <a href="{% url 'home' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </a>
    <a href="{% url 'about' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-question"></i>
        <span>About Us</span>
    </a>
    <a href="{% url 'cars' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-car"></i>
        <span>Our Cars</span>
        <div class="bottom-nav-decorator"></div>
    </a>
    <a href="{% url 'contact_mobile' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-search"></i>
        <span>Contact Us</span>
    </a>
</div>
{% endblock content %}
