{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<div class="mobile-form-container d-flex d-lg-none flex-column mb-n4 p-5 bg-zetred text-white font-sans">
    <h3 class="font-sans">Get a Quote</h3>
    <form method="POST" class="font-sans">
        {% csrf_token %} {{ form|crispy }}
        <div class="d-flex flex-column align-items-center">
            <span class="font-sans xs-font mb-2">
                By submitting this form you agree to the
                <a href="{% url 'terms_and_conditions' %}" class="text-white">Terms of Service.</a>
            </span>
            <input type="submit" class="btn btn-success btn-lg" value="Submit" />
        </div>
    </form>
</div>
<!-- MOBILE FIXED BOTTOM -->
<div class="mobile-bottom-nav d-flex d-lg-none bg-white s-font font-heebo fixed-bottom">
    <a href="{% url 'home' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </a>
    <a href="{% url 'about' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-question"></i>
        <span>About Us</span>
    </a>
    <a href="{% url 'cars' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-car"></i>
        <span>Our Cars</span>
    </a>
    <a href="{% url 'contact_mobile' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-search"></i>
        <span>Contact Us</span>
        <div class="bottom-nav-decorator"></div>
    </a>
</div>
{% endblock content %}
