{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zetrans Van Rentals</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

    <!-- Own Styling-->
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
  </head>

    <body>

    <!-- MOBILE NAVBAR -->
    <nav class="mobile-navbar navbar d-flex d-lg-none sticky-top justify-content-center bg-white">
        <a href="{% url 'home' %}" class="navbar-brand p-0">
          <img src="{% static 'images/zetrans logo.png' %}" alt="Zetrans" class="mobile-brand-logo p-0 m-0">
        </a>
    </nav>
  
    <!-- NAVBAR -->
      <nav class="desktop-navbar d-none d-lg-flex navbar navbar-expand-lg navbar-light sticky-top bg-white py-0 mx-0">
        <a class="navbar-brand ml-5" href="{% url 'home' %}"><img class="brand-logo" src="{% static 'images/zetrans logo.png' %}" alt="Zetrans"></a>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link mx-5 font-heebo" href="{% url 'home' %}"><h6>Home</h6></a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-5 font-heebo" href="{% url 'about' %}"><h6>About</h6></a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-5 font-heebo" href="{% url 'cars' %}"><h6>Our Cars</h6></a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-5 text-danger font-heebo" href="#footer"><h6>Contact Us</h6></a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="email-success-message-container d-flex flex-column p-5 font-sans alert alert-danger">
        <h3 class="font-heebo mb-4">There was an error sending your message.</h3>
        <p>
          Unfortunately, your message could not be sent at this time. Please email us
          at {{ email }}
          <br />
          You may also contact us through the following numbers:
        </p>
        <p>
            (+63) 920-902-1306<br />
            (+63) 977-245-0036
        </p>
        <a href="{% url 'home' %}" class="text-blue">Click here to return to our homepage.</a>
    </div>
    
    <!-- MOBILE FIXED BOTTOM -->
    <div class="mobile-bottom-nav d-flex d-lg-none bg-white s-font font-heebo fixed-bottom">
        <a href="{% url 'home' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
        <a href="{% url 'about' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-question"></i>
            <span>About Us</span>
        </a>
        <a href="{% url 'cars' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-car"></i>
            <span>Our Cars</span>
        </a>
        <a href="{% url 'contact_mobile' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-search"></i>
            <span>Contact Us</span>
        </a>
    </div>
    </body>
</html>
