{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- MOBILE BANNER -->
    <div class="mobile-jumbotron d-flex d-lg-none justify-content-center px-5" style="background-image: url({% static 'images/carbg.png' %});">
        <div class="mobile-banner-container d-flex flex-column justify-content-center px-5 text-center">
            <h2 class="font-heebo font-italic text-white mb-n2">
                DRIVING YOU
            </h2>
            <h1 class="font-heebo font-italic text-headred">
                SAFELY.
            </h1>
            <p class="font-sans text-white">
                Safe and hassle-free transport to and from
                any point in Luzon for as low as PHP 999.00/day.
            </p>
            <a href="{% url 'contact_mobile' %}" class="text-white font-weight-bold font-heebo align-self-center">
                Get a Quote
            </a>
        </div>
        <div class="banner-shadow">
        </div>
    </div>

    <!-- MOBILE BODY -->
    <div class="mobile-service-container d-flex d-lg-none flex-column pt-5 pb-2 bg-lightgray mb-n4">
        <h3 class="font-heebo text-center">
            OUR SERVICES
        </h3>
        <div class="mobile-service-card-container d-flex flex-wrap align-items-center justify-content-center font-heebo">
            <a href="{% url 'cars' %}#sedans">
                <div class="mobile-service-card d-flex flex-column text-dark text-center">
                    <i class="fas fa-car"></i>
                    <h5>Sedans</h5>
                </div>
            </a>
            <a href="{% url 'cars' %}#sedans">
                <div class="mobile-service-card d-flex flex-column text-dark text-center">
                    <i class="fas fa-car-side"></i>
                    <h5>SUVs</h5>
                </div>
            </a>
            <a href="{% url 'cars' %}#sedans">
                <div class="mobile-service-card d-flex flex-column text-dark text-center">
                    <i class="fas fa-shuttle-van"></i>
                    <h5>Vans</h5>
                </div>
            </a>
            <a href="{% url 'cars' %}#sedans">
                <div class="mobile-service-card d-flex flex-column text-dark text-center">
                    <i class="fas fa-glass-cheers"></i>
                    <h5>Luxury</h5>
                </div>
            </a>
            <a href="{% url 'cars' %}#sedans">
                <div class="mobile-service-card d-flex flex-column text-dark text-center">
                    <i class="fas fa-calendar-alt"></i>
                    <h5>Events</h5>
                </div>
            </a>
            <a href="{% url 'cars' %}#sedans">
                <div class="mobile-service-card d-flex flex-column text-dark text-center">
                    <i class="fas fa-truck-moving"></i>
                    <h5>Delivery</h5>
                </div>
            </a>
        </div>
        <p class="text-muted text-center px-5">
            Ride in one of our well-maintained units from Toyota, 
            Honda, and Nissan. We offer chauffeured rentals for all 
            units as well as self-driving for sedans and SUVs. 
        </p>
    </div>

    <div class="d-none d-lg-flex justify-content-between jumbotron jumbotron-fluid p-0 m-0 bg-white">
        <div class="container landing-head d-flex flex-column justify-content-center ml-5 mr-0 my-0 px-4 pl-5">
            <h2 class="banner-h2 opacity-0 responsive-h2 p-0 text-nowrap font-heebo font-italic">DRIVING YOU</h2>
            <h1 class="banner-h1 opacity-0 responsive-h1 text-headred p-0 font-heebo font-italic">SAFELY.</h2>
            <p class="banner-p opacity-0 responsive-big-p mx-0 text-muted font-sans">
                Safe and hassle-free transport to and from
                any point in Luzon for as low as PHP 999.00/day.
            </p>
            <a href="#footer" class="banner-btn opacity-0 btn btn-lg btn-danger font-weight-bold">Get a Quote</a>
        </div>
        <div class="jumbo-img-container">
            <img class="jumbo-img opacity-0 m-0 p-0" src="{% static 'images/curvy big.png' %}" alt="landing car">
        </div>
    </div>

    <div class="d-none d-lg-flex container-fluid service-list-container flex-column m-0 px-0 bg-lightgray">
        <div class="basic-services-container text-center p-5">
            <h3 class="font-heebo responsive-h3 font-italic">Basic Services</h3>
            <p class="text-muted responsive-p mx-auto font-sans" style="width: 60vw;">
                Ride in one of our well-maintained units from Toyota, Honda, and Nissan. We offer chauffeured rentals for all units as well as self-driving for sedans and SUVs.
            </p>

            <div class="card-container d-flex justify-content-center flex-wrap font-heebo">

                <div class="card mx-2" style="width: 18rem;">
                    <div class="card-body pb-0">
                        <img src="{% static 'images/cars/sedans/vios.png' %}" alt="Pic of sedan" class="img-fluid">
                        <h5 class="card-title m-2 text-center font-weight-bold text-body">Sedans</h5>
                    </div>
                    <a href="{% url 'cars' %}#sedans">
                        <div class="tint-overlay">
                        </div>
                    </a>
                </div>

                <div class="card mx-2" style="width: 18rem;">
                    <div class="card-body pb-0">
                        <img src="{% static 'images/cars/suvs/innova.png' %}" alt="Pic of SUV" class="img-fluid">
                        <h5 class="card-title m-2 text-center font-weight-bold text-body">SUVs</h5>
                    </div>
                    <a href="{% url 'cars' %}#suvs">
                        <div class="tint-overlay">
                        </div>
                    </a>
                </div>
                
                <div class="card mx-2" style="width: 18rem;">
                    <div class="card-body pb-0">
                        <img src="{% static 'images/cars/vans/grandia.png' %}" alt="Pic of van" class="img-fluid">
                        <h5 class="card-title m-2 text-center font-weight-bold text-body">Vans</h5>
                    </div>
                    <a href="{% url 'cars' %}#vans">
                        <div class="tint-overlay">
                        </div>
                    </a>
                </div>

            </div>

        </div>
        <div class="special-services-container text-center p-5 bg-white">
            <h3 class="font-heebo responsive-h3 font-italic mb-4">Special Services</h3>

            <div class="card-container d-flex justify-content-center flex-wrap font-heebo">

                <div class="card tint-container mx-2 bg-lightgray" style="width: 18rem;">
                    <div class="card-body">
                        <img src="{% static 'images/cars/luxury/toyota alphard.png' %}" alt="Toyota Alphard" class="img-fluid">
                        <h5 class="card-title m-2 text-center font-weight-bold text-body">Luxury</h5>
                        <p class="card-text mt-4 font-sans">
                            Sit back and relax in one of our luxury units! Rest easy knowing your chauffeur will take care of you all the way to your destination.
                        </p>
                    </div>
                    <a href="{% url 'cars' %}#luxury">
                        <div class="tint-overlay">
                        </div>
                    </a>
                </div>

                <div class="card tint-container mx-2 bg-lightgray" style="width: 18rem;">
                    <div class="card-body">
                        <img src="{% static 'images/cars/eventcars/mercedes home.png' %}" alt="Delivery" class="img-fluid">
                        <h5 class="card-title m-2 text-center font-weight-bold text-body">Events</h5>
                        <p class="card-text mt-4 font-sans">
                            Let us help make your special day perfect. We can service your weddings, company trips, and provincial tours, ensuring a smooth transport experience.
                        </p>
                    </div>
                    <a href="{% url 'cars' %}#delivery">
                        <div class="tint-overlay">
                        </div>
                    </a>
                </div>

                <div class="card tint-container mx-2 bg-lightgray" style="width: 18rem;">
                    <div class="card-body">
                        <img src="{% static 'images/cars/delivery/L300.png' %}" alt="Delivery" class="img-fluid">
                        <h5 class="card-title m-2 text-center font-weight-bold text-body">Delivery</h5>
                        <p class="card-text mt-4 font-sans">
                            We don't just move people. Whether it's your furniture or merchandise, personal or business, we'll get you where you need to be.
                        </p>
                    </div>
                    <a href="{% url 'cars' %}#delivery">
                        <div class="tint-overlay">
                        </div>
                    </a>
                </div>

            </div>

        </div>
    </div>
    

    <!-- MOBILE FIXED BOTTOM -->
    <div class="mobile-bottom-nav d-flex d-lg-none bg-white s-font font-heebo fixed-bottom">
        <a href="{% url 'home' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-home"></i>
            <span>Home</span>
            <div class="bottom-nav-decorator"></div>
        </a>
        <a href="{% url 'about' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-question"></i>
            <span>About Us</span>
        </a>
        <a href="{% url 'cars' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-car"></i>
            <span>Our Cars</span>
        </a>
        <a href="{% url 'contact_mobile' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-search"></i>
            <span>Contact Us</span>
        </a>
    </div>
{% endblock content %}