{% extends 'base.html' %} {% load static %} {% block content %}
<div class="image-credit-container p-5 mb-n5 font-sans text-justify">
    <h3 class="font-heebo">Image Credits</h3>
    <p>Jumbotron image: <br /><a href="http://www.freepik.com">Designed by azerbaijan_stockers / Freepik</a><br /></p>
    <p>
        Car images have been lifted from:
    </p>
    <ul>
        <li><a href="http://www.toyota.com.ph">Toyota PH</a></li>
        <li><a href="https://www.hondaphil.com/">Honda</a></li>
        <li><a href="https://www.hondaphil.com/">Hyundai Philippines</a></li>
        <li><a href="https://www.hondaphil.com/">Hyundai Czech</a></li>
        <li><a href="https://www.hondaphil.com/">Mercedes-Benz</a></li>
        <li><a href="https://www.hondaphil.com/">Autoindustriya</a></li>
        <li><a href="https://www.hondaphil.com/">Priceprice Auto</a></li>
        <li><a href="https://www.hondaphil.com/">Top Gear Philippines</a></li>
    </ul>
    <p>
        Zetrans Van Rentals is not affiliated with these websites and is using these images for informational purposes.
    </p>
</div>

<!-- MOBILE FIXED BOTTOM -->
<div class="mobile-bottom-nav d-flex d-lg-none bg-white s-font font-heebo fixed-bottom">
    <a href="{% url 'home' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </a>
    <a href="{% url 'about' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-question"></i>
        <span>About Us</span>
    </a>
    <a href="{% url 'cars' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-car"></i>
        <span>Our Cars</span>
    </a>
    <a href="{% url 'contact_mobile' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-search"></i>
        <span>Contact Us</span>
    </a>
</div>
{% endblock content %}
