{% extends 'base.html' %} {% load static %} {% block content %}
<div class="terms-and-conditions-container font-sans p-5 text-justify">
    <h2 class="font-heebo text-left">Zetrans Van Rentals Terms and Conditions for Standard Chauffeur Services</h2>
    <ol>
        <li>
            <b>Booking.</b><br />
            All reservations will be made via website and booking engine. In the case of inquiries via phone call,
            e-mail, or social media, we will ask for your booking details and if you want to pay via Cash or Credit
            Card. For both payment methods, you will receive a guide via email to do booking on our website by providing
            the URL of Zetrans and receive instructions via email. Upon receipt of the email confirmation of payment
            from website. We will process your reservation and will respond to you separately by email and verify the
            transaction details.
        </li>
        <li>
            <b>Payment methods.</b><br />
            Below are the different payment channels to choose from for your convenience.
            <ul>
                <li>Credit Card* - Visa, Mastercard</li>
                <li>Bank to bank - BDO, Metrobank</li>
                <li>PayCash (Payment Centers) - BDO, RCBC, Bayad Center, ECPay, M Lhuillier</li>
            </ul>
            <br />
            <i>*For Online/Credit Card Payments</i>
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;All online payments are subject to administrative service fees and applicable taxes.
            No administrative fees will be charged for all cash payments.
        </li>
        <li>
            <b>Delivery of Service.</b><br />
            As soon as payment and confirmation is made, an email and text message will be sent to provide you the
            complete driver, car/van details which include the driver’s name, mobile number, name/make/color of the unit
            and plate number. To ensure a hassle-free service, please provide us the closest planned itinerary so we can
            send you the appropriate rates. Information such as pick up addresses, time of pick up, planned
            destinations, main contact persons must also be specified.
        </li>
        <li>
            <b>Refund.</b><br />
            Full refund, less administrative charges, is applied in cases of failure to deliver services due to acts of
            God, such as typhoons, floods, earthquakes, and other natural disasters. Should cancellations occur due to
            these events. Zetrans will either reschedule or refund the base service rate, less the other applicable
            service charges when the payment was made.
            <ul>
                <li>
                    Failure of Zetrans to deliver services due to unavoidable events other than mentioned above results
                    in a full refund.
                </li>
                <li>
                    50% refund of base rental rate less administrative fees if cancellation is made 1 day before the
                    agreed scheduled date.
                </li>
                <li>
                    While all units are well maintained, should there be mechanical problems mid-way during the trip, a
                    replacement will be sent, and if the Client is not amendable to the replacement, Zetrans will refund
                    60% of the total cost of base rental fee less administration charges.
                </li>
                <li>
                    The no refund policy is applied when the guests do not show up and for any reason fail to notify or
                    respond to the notifications sent to the client through calls, e-mails, and SMS after 30 minutes of
                    sending. This is considered as on-site cancellation.
                </li>
                <li>
                    It is the responsibility of the client to call our office or the driver should there be delays in
                    their arrival, however, the previously agreed time is still the basis for the number of hours of
                    service should overtime charges be incurred and not the time of arrival of the passengers
                </li>
            </ul>
        </li>
        <li>
            <b>Cancellation.</b><br />
            <ul>
                <li>100% of rental/administration fee is charged if cancellation is made onsite.</li>
                <li>50% of rental fee/administration fee if cancellation is made 1 day before scheduled departure.</li>
                <li>0% of rental fee is charged if cancellation is made 3 days or earlier than scheduled departure.</li>
                <li>
                    No refund will be given to passenger who did not arrive on time and no refund for non-showing
                    passengers after waiting for the passenger maximum of 1hour.
                </li>
            </ul>
        </li>
        <li>
            <b>Reservation Amendments.</b><br />
            A maximum of two amendments are allowed for any changes to the reservation. Reservation changes can be done
            through e-mail or phone call to our office. All amendments will only be entertained during office hours from
            8:30AM until 6:00PM on weekdays, and 9:00AM until 5PM on Saturdays. Sundays are non-working days.
        </li>
        <li>
            <b>Rebooking.</b><br />
            Rebooking is allowed at least 4 days before the scheduled date of departure; however, this is subject to the
            availability of the unit being reserved. If the reserved unit is not available on the rescheduled date, the
            Company may provide a unit that is equal to or lower. The company may provide a higher unit, however rental
            rates will be adjusted.
        </li>
        <li>
            <b>Payments.</b><br />
            Unless booked directly to the website, a 50% deposit is required to confirm and secure the reservation. The
            balance of which must be settled three (3) days before departure date. Upon making the required payments, a
            copy of the deposit slip must be sent to us via email. Reservation will not be confirmed until full payment
            has been made. As soon as the payment is completed, you will receive the driver and unit details.
        </li>
        <li>
            <b>Security.</b><br />
            Zetrans has the right to refuse/remove passenger at any time for valid reason which may pose a danger during
            the trip such as passengers who are under the influence of alcohol and drugs. Carrying of firearms,
            explosives and other forms of armaments, explosives, flammable substances will be refused boarding.
        </li>
        <li>
            <b>Liability.</b><br />
            Zetrans will not be liable for any incidents such as any loss, damage, changes, or delays brought about by
            external factors such as terrorist attacks, civil disobedience, severe weather conditions, unprecedented
            technical problem of transport, flight cancellation or any similar incidents that is beyond our control.
            Zetrans will not be liable for any delay or cancellation brought about by natural calamities or acts of god.
            For cancellations for these kinds of events, the client has the right to reschedule or refund the booking.
        </li>
        <li>
            <b>
                Any legal action or dispute in connection with this agreement must be filed in the proper courts of
                Quezon City, Philippines only.
            </b>
        </li>
    </ol>
</div>

<!-- MOBILE FIXED BOTTOM -->
<div class="mobile-bottom-nav d-flex d-lg-none bg-white s-font font-heebo fixed-bottom">
    <a href="{% url 'home' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </a>
    <a href="{% url 'about' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-question"></i>
        <span>About Us</span>
    </a>
    <a href="{% url 'cars' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-car"></i>
        <span>Our Cars</span>
    </a>
    <a href="{% url 'contact_mobile' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-search"></i>
        <span>Contact Us</span>
    </a>
</div>
{% endblock content %}
