{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="banner-container d-flex justify-content-center">
        <img src="{% static 'images/banner_cars.png' %}" alt="Our Cars" class="img-fluid">
    </div>
    <div class="car-container d-flex justify-content-center p-5">
        <div class="car-img-container">
            <img src="{% static 'images/cars/vans/super grandia.png' %}" alt="Super grandia" class="car-img img-fluid">
        </div>
        <div class="car-info-indiv d-flex flex-column mx-5 px-5">
            <span>
                <h3 class="responsive-h3 font-heebo">
                    Toyota Super Grandia
                </h3>
                <h5 class="font-sans responsive-h5 text-muted">
                    (not for self-drive)
                </h5>
            </span>
            <span class="font-sans responsive-p">
                <strong>Type:</strong> Van 
            </span>
            <span class="font-sans responsive-p">
                <strong>Automatic Transmission/All Power</strong>
            </span>
            <span class="font-sans responsive-p">
                <strong>Captain leather seats</strong>
            </span>
            <span class="font-sans responsive-p">
                <strong>Engine:</strong> 3.0L
            </span>
            <span class="font-sans responsive-p">
                <strong>Fuel:</strong> Diesel 
            </span>
            <span class="font-sans responsive-p">
                <strong>Doors:</strong> 5 
            </span>
            <span class="font-sans responsive-p">
                <strong>Seats:</strong> 11 pax 
            </span>
        </div>
    </div>
    <!-- MOBILE FIXED BOTTOM -->
    <div class="mobile-bottom-nav d-flex d-lg-none bg-white s-font font-heebo fixed-bottom">
        <a href="{% url 'home' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
        <a href="{% url 'about' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-question"></i>
            <span>About Us</span>
        </a>
        <a href="{% url 'cars' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-car"></i>
            <span>Our Cars</span>
            <div class="bottom-nav-decorator"></div>
        </a>
        <a href="{% url 'contact_mobile' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
            <i class="fas fa-search"></i>
            <span>Contact Us</span>
        </a>
    </div>
{% endblock content %}