{% extends 'base.html' %} {% load static %} {% block content %}
<div class="banner-container d-flex justify-content-center">
    <img src="{% static 'images/banner_cars.png' %}" alt="Our Cars" class="img-fluid" />
</div>
<div class="car-container d-flex justify-content-center p-5">
    <div class="car-img-container">
        <img src="{% static 'images/cars/sedans/vios.png' %}" alt="Vios" class="car-img img-fluid" />
    </div>
    <div class="car-info-indiv d-flex flex-column mx-5 px-5">
        <h3 class="responsive-h3 font-heebo">
            Toyota Vios 1.3E
        </h3>
        <span class="font-sans responsive-p"> <strong>Model: </strong>Toyota Vios 1.3E </span>
        <span class="font-sans responsive-p"> <strong>Type: </strong>Sedan </span>
        <span class="font-sans responsive-p">
            <strong>Automatic Transmission / All power</strong>
        </span>
        <span class="font-sans responsive-p"> <strong>Engine: </strong>1.3L </span>
        <span class="font-sans responsive-p"> <strong>Fuel: </strong>Gasoline </span>
        <span class="font-sans responsive-p"> <strong>Door: </strong>4 </span>
        <span class="font-sans responsive-p"> <strong>Seats: </strong>5 pax </span>
        <span class="font-sans responsive-p"> <strong>Price Range: </strong>P 999 - 2,500 </span>
    </div>
</div>
<!-- MOBILE FIXED BOTTOM -->
<div class="mobile-bottom-nav d-flex d-lg-none bg-white s-font font-heebo fixed-bottom">
    <a href="{% url 'home' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </a>
    <a href="{% url 'about' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-question"></i>
        <span>About Us</span>
    </a>
    <a href="{% url 'cars' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-car"></i>
        <span>Our Cars</span>
        <div class="bottom-nav-decorator"></div>
    </a>
    <a href="{% url 'contact_mobile' %}" class="bottom-nav-item d-flex flex-column align-items-center text-dark p-2">
        <i class="fas fa-search"></i>
        <span>Contact Us</span>
    </a>
</div>
{% endblock content %}
